/**
 * This file contains the CSS styling for the overall application and .
 */

/* import google fonts family */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

body {
    width: 100%;
    margin: 0;
}

main {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
}

h1, h2, h3 {
  text-align: center;
  padding: 1rem;
}

header {
  width: 80%;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
}

img {
  margin: 10px 0;
  max-width: 12rem;
  height: auto;
}

nav {
  width: 100%;
  padding: 0.5rem;
}

div nav ul {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 30px;
}

div nav a:hover {
  color: #F1600D;
}

nav li {
  display: inline;
  margin-right: 1rem;
}

#navbar-tabs {
  margin: 0;
  padding: 0.15rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content {
  padding-bottom: 2rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: black;
  color: white;
  margin: 0;
  font-size: 10pt;
  display: flex;
  justify-content: center;
}

#header-bar {
  background-color: black;
  padding: 10px;
  height: 25px;
}

#dropdown {
  display: none;
}

#tutorial-description {
  padding: 2rem;
  background-color: #F2F0F0;
  margin: 1rem 0;
}

#team-container {
  padding: 0;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#search-bar-inputs {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#search {
  width: 85%;
}

#search-container {
  margin-bottom: 15px;
}

#add-btn {
  background-color: #F1600D;
  border-color: #F1600D;
  height: 38px;
}

#create-team-content {
  position: relative;
  width: 100%;
  z-index: 1;
}

#player-list {
  background-color: #E1E1E1;
  min-height: 100vh;
  padding: 2.8rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.player-img {
  width: 100%;
}

#team-stats {
  background-color: #F2F0F0;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

#player-cards {
  display: flex;
  justify-content: center;
}

#quick-add-btn, #clear-team-btn, #create-team-btn {
  margin-bottom: 15px;
}

#team-btns {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

#suggested-btn {
  margin: 0 20px;
  padding: 1px 6px;
}

#stats-table {
  margin: 0;
  width: 90%;
}

#player-list-table {
  width: 80%;
}

#slides {
  height: min-content;
}

.clr-player-btn {
  display: flex;
  justify-content: right;
}

.material-icons.md-100 {
  font-size: 100px;
}

.player-card {
  max-width: 140px;
  margin: 5px;
}

.player-card-lg {
  max-width: 250px;
  margin: 5px;
}

.warning {
  text-align: center;
  width: 100%;
}

.slide-img {
  max-width: none;
  width: 100%;
}

.attribution {
  color: black;
  font-size: x-small;
  position: absolute;
  bottom: -40px;
  right: 0;
  left: 0;
}

.game-table {
  text-align: center;
}
